INSERT INTO channel
    (name, participant_01, participant_02)
VALUES
    ('{{CHANNEL_NAME}}',
     (SELECT id FROM participants WHERE name = '{{NAME_01}}'),
      (SELECT id FROM participants WHERE name = '{{NAME_02}}'));
